body{
    margin:0px;
}
.body-cadastro{
    font-family:arial;
    background:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:0;
    height:100vh;
}

form{
    position:relative;
    display:flex;
    flex-direction:column;
    width:200px;
    border:solid black 1px;
    border-radius:10px;
    background:ghostwhite;
    padding:50px;
    height:250px;

   
}
input{
    padding:5px;
    margin-bottom:20px;
}
button{
    padding:5px;
}
.nomeform{
    margin-top:0px;

    text-align:center;
}
#versenha{
    position:absolute;
    top:180px;
    left:255px;
    border:none;
    background:white;
    width:20px;
    font-size:20px;
}
